<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/bootstrap-5.2.3-dist/css/bootstrap.min.css">
</head>
<body>


    <div class="background-update-password d-flex container-fluid position-relative " id="top-form">
        <div class=" container  " >
          <div
            class="form container d-flex flex-column   
            my-3 rounded-5  col-lg-6 col-md-8 col-sm-12"
            id="form-div"
          >
             <div class="row p-3 " >
                <div class="col-lg-2 text-white "></div>
                <div class="col-lg-8 col-md-12 col-sm-12  ">
                <div class="d-flex  justify-content-center">
              <img src='/images/forget_password4.png' alt="img" height="40%" width="50%" />
            </div>
             
             
              <div id="form" class=" ">
    
              <div id="form-inp" class="my-3 ">
               <label htmlFor="exampleFormControlInput1" class="form-label text-white">
                 New Password
               </label>
               <input
                type="password"
                class="form-control form-control-lg rounded-5"
                id="updated_password"
                placeholder="Enter New Password" required
              />
            </div>

            <div class="text-center mt-2" id="msg-div">

            </div>

  <div class="text-center" id="msg-div">

  </div>
    
            
            <div id="btn-div" class="mt-3">
              <button onclick="updatePassword()" class="btn btn-success btn-lg btn-block w-100 rounded-4"  role="button">UPDATE</button>
            </div>
    
              </div >
              
              </div>
              <div class="col-lg-2 "></div>
              </div>
            
           
          </div>
        </div>
      </div>



      <script src="/bootstrap-5.2.3-dist/js/bootstrap.min.js"></script>
<script>

var msgDiv=document.getElementById('msg-div');
var inp=document.getElementById('form-inp');
var btn=document.getElementById('btn-div');

    
if(sessionStorage.updated){
    inp.style.display="none";
    btn.style.display="none";
    msgDiv.innerHTML="<h4 class='text-white'>Pasword Updated Successfully!</h4><img src='/images/success.png' width='20%'/>";
}

function updatePassword () {
    const updatedPasswordValue=document.getElementById('updated_password').value;

    const requestOptions = {
    method: 'PUT',
    headers: { 'Content-Type': 'application/json' },
 body:JSON.stringify({
    password:updatedPasswordValue
})
};

fetch('http://localhost:4000/apis/auth/forgot-password/<%= data.token %>',requestOptions)
    .then((response) => {return response.json()})
    .then((data) => {
      msgDiv.innerHTML=`<h4 class='text-white'>${data.message}</h4><img src='/images/success.png' width='20%'/>`;
      inp.style.display="none";
      btn.style.display="none";
        msgDiv.style.color="white";
        sessionStorage.updated=true;
    } )
    .catch((err)=>{
        msgDiv.innerHTML=err;
        msgDiv.style.color="red";
    });
    
}




</script>

</body>
</html>